<div class="currency-form">
  <form *ngIf="formGroup" [formGroup]="formGroup">
    <app-currency-input>
      <app-currency-dropdown
        dropdownType="fromCurrency"
      ></app-currency-dropdown>
      <mat-form-field appearance="outline">
        <input matInput formControlName="fromAmount" type="text" />
      </mat-form-field>
    </app-currency-input>
    <mat-icon svgIcon="exchange" [inline]="true" id="exchange-icon"></mat-icon>
    <app-currency-input>
      <app-currency-dropdown dropdownType="toCurrency"></app-currency-dropdown>
      <mat-form-field appearance="outline">
        <input matInput formControlName="toAmount" type="text" />
      </mat-form-field>
    </app-currency-input>
  </form>
</div>
