:host {
  width: fit-content;

  .input-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  label {
    width: 6rem;
  }

  select {
    width: 6rem;
  }

  input[type="number"] {
    width: 10rem;
  }
}
